.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.7);
  height: 50px;
  border-radius: 50px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 80vw;
  margin: 20px auto;
}

.logo {
  height: 50px;
}

.search-icon {
  height: 20px;
  cursor: pointer;
}

.search-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
