.welcome-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.welcome-content {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligns content to the left */
  flex-grow: 1;
  padding: 80px;
  z-index: 1;
}

.welcome-text {
  text-align: left;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Dark shadow */
  max-width: 1000px;
}

.welcome-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Dark shadow */
}

.welcome-text p {
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Dark shadow */
}

.start-button {
  background-color: #c34113; /* Darker orange */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #e64a19;
}
